/*===========Global links*/
:root{
  --primary: #F6F1DE;
  --secondary: #3E3F5B;
  --green1: #8AB2A6;
  --green2: #ACD3A8;
}
html{
  scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: "font-awesome", sans-serif;
}

/*============Header===navbar*/
header{
  display: flex;
  justify-content: space-around;
}

img#pclogo{
  border: 1px solid red;
  background-color: rgba(255, 255, 255, 0.2);
  width: 6em;
  height:auto;
  padding: 0 3em;
  
}

nav {
    z-index: 1000;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .navbar-ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0;
    margin: 0;
  }
  
  .navbar-ul li {
    margin: 0 1rem;
  }
  
  .nav-link {
    color: black;
    font-weight: 100;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
  }
  
  .nav-link:hover {
    color: var(--secondary);
    transform: scale(1.1); 
  }

 /*=====================Sticky CTA*/

 .cta i {
  font-size: 1.5rem; 
  color: var(--green1green1);
}

#cta-text {
  font-size: 1em;
  color: black;
  margin: 0 0;
  text-transform: uppercase;
}
#cta-text:hover{
  transform: 1.1;
  color: var(--primary);
}
.cta-container{
  border: 1px solid red;
  padding: 0.75rem 0;
  text-decoration: none;
  border-radius: 5px;
  align-items: center;
  position: fixed;
  right: 0;
}

div.cta-container{
  display: flex;
  padding-right: 3rem;
  gap: 1em;
}

#cta-icons{
  display: flex;
  gap: 1em;
}
#cta-icons:hover{
  transform: scale(1.1);
}

/*=====================hero section*/

#hero {
    background-size: cover;
    width: 100vw;
    display: flex;
    align-items: center;
  }
  
  .hero-text{
    border: 1px solid red;
    font-family: "Poiret one", sans-serif;
    width: 25vw;
    font-size: 2rem;
    text-align: center;
    color: black;
    padding: 2em 6em 2em 2em;
    margin: 0;
  }
  



/*================Menu Section*/
#menu{
  border: 1px solid pink;
}



/*================Gallery Section*/
#gallery{
  border: 1px solid pink;
}

/*================Reviews section*/


/*=================footer*/

/*==============RESPONSIVE MEDIA WUERIES*/

/*==========tABLETS 768px MEDIA*/

/*===========MOBILE 480px MEDIA*/
